In [3]:
import os.path as osp
import pandas as pd
import os
import calendar

def format_data(file):
    # format created date and closed data
    # parse_dates=['created_date','closed_date'])
    columns = ['created_date','closed_date','incident_zip']
    df = pd.read_csv(file,low_memory=False, usecols=[1,2,8], names=columns)
    df.dropna(inplace=True)
    df['month'] = df['closed_date'].str.slice(0,2)
    map_month = {'01':'Jan','02':'Feb','03':'Mar','04':'Apr','05':'May','06':'June','07':'July','08':'Aug','09':'Sep'}
    df['month'] = df['month'].map(map_month)
    # df['month'] = pd.to_numeric(df['month'], errors='coerce')
    # df['month'] = df['month'].apply(lambda x: calendar.month_abbr[x])
    df['created_date'] = pd.to_datetime(df['created_date'], format='%m/%d/%Y %I:%M:%S %p')
    df['closed_date'] = pd.to_datetime(df['closed_date'], format='%m/%d/%Y %I:%M:%S %p')
    df['response_time'] = (df['closed_date'] - df['created_date']) / pd.Timedelta(hours=1)
    df = df[df['response_time']>=0]

    return df

def year_avg(data):
    df = data.copy()
    df['month'] = df['month'].astype(int)
    df['incident_zip'] = df['incident_zip'].astype(int)
    year_df = df.drop(['incident_zip'],axis=1)
    year_df = year_df.groupby(['month']).mean().reset_index()
    return year_df

def zip_avg(data):
    df = data.copy()
    df['month'] = df['month'].astype(int)
    df['incident_zip'] = df['incident_zip'].astype(int)
    zip_df = df.groupby(['month','incident_zip']).mean().reset_index()
    return zip_df

In [4]:
file_path = "/Users/zoe/Desktop/FALL2021/COMP598/comp598-2021/hw4/submission_template/data/nyc_2020.csv"

In [5]:
format_data(file_path)

,created_date,closed_date,incident_zip,month,response_time
0,2020-07-20 10:51:12,2020-09-05 12:32:48,11234.0,09,1129.693333
2,2020-07-21 14:13:58,2020-09-05 13:37:31,11210.0,09,1103.392500
3,2020-07-27 12:56:33,2020-09-05 08:51:14,11354.0,09,955.911389
10,2020-06-22 18:17:00,2020-06-23 08:59:00,10451.0,06,14.700000
11,2020-06-21 03:30:00,2020-06-22 21:50:00,10031.0,06,42.333333
...,...,...,...,...,...
1887570,2020-07-10 10:34:45,2020-08-26 00:00:00,10075.0,08,1117.420833
1887572,2020-08-05 14:55:52,2020-08-13 18:35:49,11221.0,08,195.665833
1887573,2020-07-11 10:53:00,2020-08-21 12:00:00,11421.0,08,985.116667
1887575,2020-07-16 12:00:23,2020-08-30 17:59:47,11691.0,08,1085.990000
1887576,2020-07-16 16:55:32,2020-09-05 13:28:38,11226.0,09,1220.551667

In [6]:
df = format_data(file_path)
df['month'].unique()

array(['09', '06', '07', '03', '02', '08', '04', '01', '05'], dtype=object)

In [7]:
map_month = {'01':'Jan','02':'Feb','03':'Mar','04':'Apr','05':'May','06':'June','07':'July','08':'Aug','09':'Sep'}
df['month'] = df['month'].map(map_month)
df['month'].unique()

array(['Sep', 'June', 'July', 'Mar', 'Feb', 'Aug', 'Apr', 'Jan', 'May'],
      dtype=object)