In [21]:
import os.path as osp
import pandas as pd
import os
import calendar

def format_data(file):
    # format created date and closed data
    # parse_dates=['created_date','closed_date'])
    columns = ['created_date','closed_date','incident_zip']
    df = pd.read_csv(file,low_memory=False, usecols=[1,2,8], names=columns)
    df.dropna(inplace=True)
    
#     df['month'] = df['closed_date'].str.slice(0,2)
#     map_month = {'01':'Jan','02':'Feb','03':'Mar','04':'Apr','05':'May','06':'June','07':'July','08':'Aug','09':'Sep'}
#     df['month'] = df['month'].map(map_month)
    # df['month'] = pd.to_numeric(df['month'], errors='coerce')
    # df['month'] = df['month'].apply(lambda x: calendar.month_abbr[x])
    df['created_date'] = pd.to_datetime(df['created_date'], format='%m/%d/%Y %I:%M:%S %p')
    df['closed_date'] = pd.to_datetime(df['closed_date'], format='%m/%d/%Y %I:%M:%S %p')
    df['response_time'] = (df['closed_date'] - df['created_date']) / pd.Timedelta(hours=1)
    #df['month'] = df['closed_date'].dt.month_name
    df['month'] = df['closed_date'].dt.strftime('%b')
    df = df[df['response_time']>=0]

    return df

def year_avg(data):
    df = data.copy()
    df['month'] = df['month'].astype(int)
    df['incident_zip'] = df['incident_zip'].astype(int)
    year_df = df.drop(['incident_zip'],axis=1)
    year_df = year_df.groupby(['month']).mean().reset_index()
    return year_df

def zip_avg(data):
    df = data.copy()
    df['month'] = df['month'].astype(int)
    df['incident_zip'] = df['incident_zip'].astype(int)
    zip_df = df.groupby(['month','incident_zip']).mean().reset_index()
    return zip_df

In [22]:
file_path = "/Users/zoe/Desktop/FALL2021/COMP598/comp598-2021/hw4/submission_template/data/nyc_2020.csv"

In [23]:
# format_data(file_path)

In [24]:
df = format_data(file_path)
df['month'].unique()

array(['Sep', 'Jun', 'Jul', 'Mar', 'Feb', 'Aug', 'Apr', 'Jan', 'May'],
      dtype=object)

In [25]:
def year_avg(data):
    df = data.copy()
    #df['month'] = df['month'].astype(int)
    df['incident_zip'] = df['incident_zip'].astype(int)
    year_df = df.drop(['incident_zip'],axis=1)
    year_df = year_df.groupby(['month']).mean().reset_index()
    return year_df

In [26]:
year_avg(df)

  month  response_time
0   Apr      78.524512
1   Aug     122.850844
2   Feb      70.912960
3   Jan      39.852758
4   Jul     106.709947
5   Jun     111.929047
6   Mar      82.343669
7   May      93.624943
8   Sep     170.201880